<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true" scanPeriod="5000">

    <contextName>logback_context</contextName>

    <property name="log.dir" value="log" />
    <!-- <property name="log.dir" value="C:/Users/Administrator/Desktop" /> -->

    <!-- 输出策略 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- appender:格式化日志输出 -->
    <!-- class:用来指定输出策略，RollingFileAppender是滚动(切分)文件输出策略 -->
    <appender name="FULL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 滚动策略，这里是基于时间的滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.dir}/log.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>10</MaxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 全局设置 -->
    <root level="ALL">
        <!-- <appender-ref ref="STDOUT" /> -->
        <appender-ref ref="FULL_FILE" />
    </root>

</configuration>
